@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;600;700&display=swap");

:root {
  --wraith-black: #000;
  --bubblegum-blue: #75c3d0;
  --angel-white: #fff;
  --dust-grey: #ededed;
  --space-grey: #d9d9d9;
  --coral-pink: #ffaca7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

section {
  margin-top: 210px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px 0;
  width: 100%;
}

.row {
  margin: 0 auto;
  padding: 0 16px;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.blue {
  color: var(--bubblegum-blue);
}

/*

NAVIGATION BAR

*/
.nav__bar {
  padding: 16px 112px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__mobile {
  z-index: 1;
  display: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__mobile--hamburger-icon,
.navigation__mobile--close-icon {
  cursor: pointer;
  font-size: 56px;
  color: var(--coral-pink);
  width: 24px;
  z-index: 1;
}

.logo__wrapper {
  width: 37px;
}

.logo {
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-size: 32px;
  margin-left: 48px;
  display: flex;
  align-items: center;
}

.nav__link--anchor {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  color: var(--angel-white);
}


/*

HERO

*/
#hero {
  position: relative;
  margin-top: 56px;
  width: 100%;
}

.hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content--left,
.hero__content--right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero__content--right {
  position: relative;
  align-items: center;
}

.hero__titles {
  border-left: 16px solid var(--angel-white);
  margin-bottom: 64px;
  padding-left: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.hero__title {
  font-size: 64px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  -webkit-text-stroke: 4px var(--angel-white);
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}

.hero__sub-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero__sub-title {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: var(--angel-white);
  margin-bottom: 8px;
}

.hero__btn {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  background-color: var(--angel-white);
  color: var(--coral-pink);
  padding: 8px 24px;
  text-align: center;
  transition: all 300ms ease;
}

.hero__btn:hover {
  background-color: var(--coral-pink);
  color: var(--angel-white);
}

.hero__img--wrapper {
  position: absolute;
  top: -240px;
  width: 60%;
}

.hero__img {
  width: 100%;
}

.wave {
  z-index: -1;
  width: 100%;
}


/*

ABOUT

*/
#about {
  width: 100%;
}

.about__title,
.services__title,
.work__title,
.testimonials__title,
.contact__title {
  font-size: 72px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56px;
}

.about__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__img--wrapper {
  width: 40%;
}

.about__img {
  width: 100%;
}

.about__para {
  line-height: 1.5;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  width: 50%;
}

/*

SERVICES

*/
#services {
  width: 100%;
}

.services__sub-title,
.work__sub-title,
.testimonials__sub-title,
.contact__sub-title {
  color: var(--bubblegum-blue);
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 80px;
}

.services__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service {
	width: 45%;
  max-width: 426px;
  height: 386px;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
}

.service__card {
	position: relative;
  border-radius: 8px;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.service__card .service__card--front,
.service__card .service__card--back {
	position: absolute;
  padding: 32px;
	width: 100%;
	height: 100%;
	text-align: start;
	background-color: var(--dust-grey);
	backface-visibility: hidden;
	border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.service__card .service__card--back {
	transform: rotateY(180deg);
	color: #000;
	background-color: var(--dust-grey);
}

.service:hover .service__card {
	transform: rotateX(2deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

.checkbox {
	display: none;
}

:checked + .service__card,
:checked + .service__btn--title {
	transform: rotateY(180deg);
}
.service:hover :checked + .service__card {
	transform: rotateY(180deg);
	box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.service__img {
	height: 64px;
}

.service__front--title,
.service__back--title,
.work__card--title {
  color: var(--wraith-black);
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-top: 40px;
}

.service__back--title {
	color: #424752;
	margin: 30px 0 0 0;
}

.service__back--para {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: var(--wraith-black);
  margin-top: 32px;
}

.service__btn,
.work__btn {
  border: none;
  background-color: transparent;
  margin-top: 24px;
  display: flex;
}

.service__btn:hover,
.work__btn:hover {
  cursor: pointer;
}

.service__btn:active .service__front {
  transform: rotateY(180deg);
}

.service__btn:hover .service__btn--img,
.work__btn:hover .work__btn--img {
  transform: translateX(24px);
}

.service__btn--title,
.work__btn--title {
  color: var(--coral-pink);
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.service__btn--img,
.work__btn--img {
  margin-left: 16px;
  transition: all 300ms ease;
}


/*

WORK

*/
#work {
  width: 100%;
}

.work__sub-title {
  color: var(--coral-pink);
}

.work__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.work__card {
  border-radius: 8px;
  background-color: var(--dust-grey);
  margin: 0 32px 64px;
  padding: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.work__img--wrapper {
  width: 100%;
}

.work__img {
  width: 100%;
}

.work__btn--title {
  color: var(--bubblegum-blue);
}


/*

TESTIMONIALS

*/
#testimonials {
  width: 100%;
}

.testimonial {
  background-color: var(--dust-grey);
  border-radius: 8px;
  padding: 32px;
  width: 460px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.testimonials__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonial__icon {
  margin-bottom: 40px;
  width: 56px;
}

.testimonial__para {
  line-height: 1.5;
  color: var(--wraith-black);
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.testimonial__date {
  margin-bottom: 40px;
}

.testimonial__quoter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img--wrapper {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img {
  border-radius: 50%;
  width: 100%;
}

.testimonial__cite {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.testimonial__cite--name {
  margin-bottom: 4px;
}

.testimonial__cite--status {
  margin-top: 4px;
}

.testimonial__cite--name,
.testimonial__cite--status,
.testimonial__date {
  color: var(--wraith-black);
  font-size: 24px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

.testimonial__cite--status,
.testimonial__date {
  font-size: 16px;
}

/* Swiper JS */
.swiper-slide {
  margin: 0;
  margin-bottom: 32px;
  padding: 56px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--bubblegum-blue) !important;
  display: none !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background-color: var(--bubblegum-blue) !important;
  margin: 0 16px !important;
  width: 32px !important;
  height: 32px !important;
}

.swiper-scrollbar {
  visibility: hidden;
}


/*

CONTACT

*/
#contact {
  width: 100%;
}

.contact__sub-title {
  color: var(--coral-pink);
}

.contact__btns {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__btn {
  position: relative;
  width: calc(80% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.contact__btn:hover {
  transform: scale(1.4);
}

.contact__btn:hover .contact__btn--logo {
  color: var(--bubblegum-blue);
}

.contact__btn:hover .contact__btn--bg {
  opacity: 0;
}

.contact__btn--bg {
  position: relative;
  transition: all 300ms ease;
}

.contact__btn--logo {
  position: absolute;
  color: var(--angel-white);
  font-size: 48px;
  transition: all 300ms ease;
}

.contact__content {
  margin-top: 180px;
  display: flex;
  justify-content: center;
}

/* Form */
.contact__form {
  border: 2PX solid var(--wraith-black);
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin-bottom: 56px;
}

.name__group,
.email__group,
.msg__group {
  position: relative;
  margin-top: 8px;
  padding: 16px 0 0;
  width: 100%;
}

.name__field,
.email__field,
.msg__field {
  border: 0;
  border-bottom: 2px solid var(--wraith-black);
  background-color: transparent;
  color: var(--coral-pink);
  outline: 0;
  font-size: 32px;
  padding: 32px 0 0;
  width: 100%;
  transition: border-color 0.2s;
}

.name__field::placeholder,
.email__field::placeholder,
.msg__field::placeholder {
  color: transparent;
}

.name__field:placeholder-shown ~ .name__label,
.email__field:placeholder-shown ~ .email__label,
.msg__field:placeholder-shown ~ .msg__label {
  top: 24px;
  font-size: 32px;
  cursor: text;
}

.name__label,
.email__label,
.msg__label {
  position: absolute;
  top: 0;
  color: var(--wraith-black);
  font-size: 32px;
  display: block;
  transition: 0.2s;
}

.name__field:focus,
.email__field:focus,
.msg__field:focus {
  border-width: 4px;
  border-image: linear-gradient(48deg, var(--coral-pink) 50%, var(--bubblegum-blue) 50%);
  border-image-slice: 50;
  color: var(--wraith-black);
  font-weight: 700;
  padding-bottom: 8px;
}

.name__field:focus ~ .name__label,
.email__field:focus ~ .email__label,
.msg__field:focus ~ .msg__label {
  position: absolute;
  top: 0;
  color: var(--bubblegum-blue);
  font-size: 24px;
  font-weight: 700;
  display: block;
  transition: 0.2s;
}

.name__field:required,
.name__field:invalid,
.email__field:required,
.email__field:invalid,
.msg__field:required,
.msg__field:invalid {
  box-shadow: none;
}


/*

FOOTER

*/
#footer {
  margin-top: 210px;
  width: 100%;
}

.footer {
  background-color: var(--dust-grey);
  padding: 56px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo--wrapper {
  width: 64px;
}

.footer__logo {
  filter: invert();
  margin-bottom: 72px;
  width: 100%;
}

.footer__claim {
  color: var(--wraith-black);
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  text-align: center;
}

.footer__claim--credit {
  font-size: 12px;
  margin-top: 104px;
}

.footer__claim--credit-link {
  font-weight: 700;
  color: var(--bubblegum-blue);
}


/*

RESPONSIVENESS

*/
@media(max-width: 2160px) {
  .hero__img--wrapper {
    position: absolute;
    top: -240px;
    width: 50%;
  }
}

@media(max-width: 1860px) {
  .hero__img--wrapper {
    position: absolute;
    top: -240px;
    width: 60%;
  }
}

@media(max-width: 1520px) {
  .hero__img--wrapper {
    position: absolute;
    top: -240px;
    width: 70%;
  }
}

@media(max-width: 1380px) {
  .nav__link {
    font-size: 24px;
  }
  
  .hero__title {
    font-size: 48px;
  }

  .hero__sub-title {
    font-size: 24px;
  }

  .hero__btn {
    font-size: 24px;
  }

  .hero__img--wrapper {
    position: absolute;
    top: -240px;
    width: 75%;
  }
}

@media(max-width: 1080px) {
  .hero__img--wrapper {
    position: absolute;
    top: -240px;
    width: 80%;
  }

  .about__para {
    font-size: 16px;
  }
}

@media(max-width: 768px) {
  .nav__bar {
    padding: 16px 64px;
  }

  .logo__wrapper {
    width: 18px;
  }

  .nav__link {
    font-size: 16px;
    margin-left: 32px;
  }
  
  .hero__title {
    font-size: 40px;
    -webkit-text-stroke: 2px var(--angel-white);
    margin-bottom: 16px;
  }

  .hero__titles {
    margin-bottom: 32px;
  }

  .hero__sub-title {
    font-size: 16px;
  }

  .hero__btn {
    font-size: 16px;
  }

  .hero__img--wrapper {
    position: absolute;
    top: -160px;
    width: 70%;
  }

  .wave {
    position: absolute;
    top: 320px;
  }

  .about__content,
  .services__content {
    flex-direction: column;
  }

  .about__title,
  .services__title,
  .work__title,
  .testimonials__title,
  .contact__title {
    font-size: 56px;
    margin-bottom: 32px;
  }

  .about__para {
    font-size: 24px;
  }

  .services__sub-title,
  .work__sub-title,
  .testimonials__sub-title,
  .contact__sub-title {
    font-size: 32px;
  }

  .about__img--wrapper,
  .about__para,
  .service,
  .work__card {
    width: 80%;
    text-align: center;
  }

  .service {
    margin-bottom: 64px;
  }
}

@media(max-width: 702px) {
  .hero__title {
    font-size: 32px;
    -webkit-text-stroke: 2px var(--angel-white);
    margin-bottom: 16px;
  }

  .hero__titles {
    margin-bottom: 24px;
  }

  .hero__sub-title {
    font-size: 16px;
  }

  .hero__btn {
    font-size: 16px;
  }

  .wave {
    position: absolute;
    top: 290px;
  }
}

@media(max-width: 668px) {
  .hero__img--wrapper {
    display: none;
  }

  .hero__content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero__content--left {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero__content--right {
    display: none;
  }

  .hero__titles {
    border: none;
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;  
  }

  .hero__sub-titles {
    text-align: center;
    align-items: center;
  }

  .hero__title {
    font-size: 40px;
  }
}

@media(max-width: 468px) {
  .nav__bar {
    margin-bottom: 96px;
    padding: 32px 64px;
  }

  .navigation__desktop {
    display: none;
  }

  .navigation__mobile {
    display: block;
  }

  .nav__links {
    position: absolute;
    top: 120px;
    right: 0;
    background-color: var(--bubblegum-blue);
    border-radius: 24px 24px 0 0;
    border-top: 8px solid var(--angel-white);
    width: 100%;
    height: 100vh;
    z-index: 0;
    padding: 80px 48px 180px 16px;
    flex-direction: column;
  }

  .nav__link {
    font-size: 40px;
  }

  .bg {
    width: auto;
    height: 100vh;
  }

  .logo__wrapper {
    width: 40px;
  }

  .hero__content {
    justify-content: center;
    align-items: center;
  }

  .hero__title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .hero__sub-title {
    font-size: 24px;
  }

  .hero__titles {
    margin-bottom: 144px;
  }

  .hero__btn {
    font-size: 48px;
  }

  .wave {
    display: none;
  }

  .testimonial {
    padding: 24px;
    width: 300px !important;
  }

  .testimonial__para {
    font-size: 12px;
    word-break: break-all;
    width: 70%;
  }

  .testimonial__img--wrapper {
    width: 40px;
  }

  .testimonial__cite--name {
    font-size: 16px;
  }

  .testimonial__cite--status {
    font-weight: 400;
  }

  .swiper-slide {
    left: -20%;
  }

  .contact__btn--bg {
    width: 90%;
  }

  .contact__btn--logo {
    font-size: 24px;
  }

  .contact__form {
    padding: 32px;
  }
}

@media(max-width: 414px) {
  .swiper-slide {
    left: -7%;
  }
}

@media(max-width: 390px) {
  .swiper-slide {
    left: -9%;
  }
}

@media(max-width: 375px) {
  .swiper-slide {
    left: -11.3%;
  }
}

/* Swiper JS Responsiveness */
.swiper-container {
  width: 480px;
}

@media screen and (min-width: 320px) {
  .swiper-container {
    width: 320px;
  }
}

@media screen and (min-width: 1100px) {
  .swiper-container {
    width: 1100px;
  }
}