@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;600;700&display=swap");

:root {
  --wraith-black: #000;
  --bubblegum-blue: #75c3d0;
  --angel-white: #fff;
  --dust-grey: #ededed;
  --space-grey: #d9d9d9;
  --coral-pink: #ffaca7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

section {
  margin-top: 210px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px 0;
  width: 100%;
}

.row {
  margin: 0 auto;
  padding: 0 16px;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.blue {
  color: var(--bubblegum-blue);
}

/*

NAVIGATION BAR

*/
.nav__bar {
  padding: 16px 112px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  width: 37px;
}

.logo {
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-size: 32px;
  margin-left: 48px;
  display: flex;
  align-items: center;
}

.nav__link--anchor {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  color: var(--angel-white);
}

/*

HERO

*/
#hero {
  margin-top: 56px;
  width: 100%;
}

.hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content--left,
.hero__content--right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero__content--right {
  position: relative;
  align-items: center;
}

.hero__titles {
  border-left: 16px solid var(--angel-white);
  margin-bottom: 64px;
  padding-left: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.hero__title {
  font-size: 64px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  -webkit-text-stroke: 4px var(--angel-white);
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}

.hero__sub-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero__sub-title {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: var(--angel-white);
  margin-bottom: 8px;
}

.hero__btn {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  background-color: var(--angel-white);
  color: var(--coral-pink);
  padding: 8px 24px;
  text-align: center;
  transition: all 300ms ease;
}

.hero__btn:hover {
  background-color: var(--coral-pink);
  color: var(--angel-white);
}

.hero__img--wrapper {
  position: absolute;
  top: -240px;
  width: 60%;
}

.hero__img {
  width: 100%;
}

.wave {
  width: 100%;
}

/*

ABOUT

*/
#about {
  width: 100%;
}

.about__title,
.services__title,
.work__title,
.testimonials__title,
.contact__title {
  font-size: 72px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56px;
}

.about__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__img--wrapper {
  width: 40%;
}

.about__img {
  width: 100%;
}

.about__para {
  line-height: 1.5;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  width: 50%;
}

/*

SERVICES

*/
#services {
  width: 100%;
}

.services__sub-title,
.work__sub-title,
.testimonials__sub-title,
.contact__sub-title {
  color: var(--bubblegum-blue);
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 80px;
}

.services__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service {
  border-radius: 8px;
  background-color: var(--dust-grey);
  padding: 32px;
  width: 426px;
  height: 386px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.service__front,
.service__back {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.service__front,
.service__back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.service__back {
  display: none;
}

.service__img {
  height: 64px;
}

.service__front--title,
.service__back--title,
.work__card--title {
  color: var(--wraith-black);
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-top: 40px;
}

.service__back--para {
  font-size: 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: var(--wraith-black);
}

.service__btn,
.work__btn {
  border: none;
  background-color: transparent;
  margin-top: 24px;
  display: flex;
}

.service__btn:hover,
.work__btn:hover {
  cursor: pointer;
}

.service__btn:active .service__front {
  transform: rotateY(180deg);
}

.service__btn:hover .service__btn--img,
.work__btn:hover .work__btn--img {
  transform: translateX(24px);
}

.service__btn--title,
.work__btn--title {
  color: var(--coral-pink);
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.service__btn--img,
.work__btn--img {
  margin-left: 16px;
  transition: all 300ms ease;
}


/*

WORK

*/
#work {
  width: 100%;
}

.work__sub-title {
  color: var(--coral-pink);
}

.work__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.work__card {
  border-radius: 8px;
  background-color: var(--dust-grey);
  margin-bottom: 96px;
  padding: 48px;
  width: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.work__card:nth-child(even) {
  margin-left: 96px;
}

.work__img--wrapper {
  width: 100%;
}

.work__img {
  width: 100%;
}

.work__btn--title {
  color: var(--bubblegum-blue);
}

/*

TESTIMONIALS

*/
#testimonials {
  width: 100%;
}

.testimonial {
  background-color: var(--dust-grey);
  border-radius: 8px;
  padding: 32px;
  width: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.testimonials__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonial__icon {
  margin-bottom: 40px;
  width: 56px;
}

.testimonial__para {
  line-height: 1.5;
  color: var(--wraith-black);
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.testimonial__date {
  margin-bottom: 40px;
}

.testimonial__quoter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img--wrapper {
  width: 72px;
  height: 72px;
}

.testimonial__img {
  border-radius: 50%;
  width: 100%;
}

.testimonial__cite {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.testimonial__cite--name,
.testimonial__cite--status,
.testimonial__date {
  color: var(--wraith-black);
  font-size: 24px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

.testimonial__cite--status,
.testimonial__date {
  font-size: 16px;
}


/*

CONTACT

*/
#contact {
  width: 100%;
}

.contact__sub-title {
  color: var(--coral-pink);
}

.contact__btns {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__btn {
  position: relative;
  width: calc(80% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.contact__btn:hover {
  transform: scale(1.4);
}

.contact__btn:hover .contact__btn--logo {
  color: var(--bubblegum-blue);
}

.contact__btn:hover .contact__btn--bg {
  opacity: 0;
}

.contact__btn--bg {
  position: relative;
  transition: all 300ms ease;
}

.contact__btn--logo {
  position: absolute;
  color: var(--angel-white);
  font-size: 48px;
  transition: all 300ms ease;
}

.contact__content {
  margin-top: 180px;
  display: flex;
  justify-content: center;
}

/* Form */
.contact__form {
  border: 2PX solid var(--wraith-black);
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin-bottom: 56px;
}

.name__group,
.email__group,
.msg__group {
  position: relative;
  margin-top: 8px;
  padding: 16px 0 0;
  width: 100%;
}

.name__field,
.email__field,
.msg__field {
  border: 0;
  border-bottom: 2px solid var(--wraith-black);
  background-color: transparent;
  color: var(--coral-pink);
  outline: 0;
  font-size: 32px;
  padding: 32px 0 0;
  width: 100%;
  transition: border-color 0.2s;
}

.name__field::placeholder,
.email__field::placeholder,
.msg__field::placeholder {
  color: transparent;
}

.name__field:placeholder-shown ~ .name__label,
.email__field:placeholder-shown ~ .email__label,
.msg__field:placeholder-shown ~ .msg__label {
  top: 24px;
  font-size: 32px;
  cursor: text;
}

.name__label,
.email__label,
.msg__label {
  position: absolute;
  top: 0;
  color: var(--wraith-black);
  font-size: 32px;
  display: block;
  transition: 0.2s;
}

.name__field:focus,
.email__field:focus,
.msg__field:focus {
  border-width: 4px;
  border-image: linear-gradient(48deg, var(--coral-pink) 50%, var(--bubblegum-blue) 50%);
  border-image-slice: 50;
  color: var(--wraith-black);
  font-weight: 700;
  padding-bottom: 8px;
}

.name__field:focus ~ .name__label,
.email__field:focus ~ .email__label,
.msg__field:focus ~ .msg__label {
  position: absolute;
  top: 0;
  color: var(--bubblegum-blue);
  font-size: 24px;
  font-weight: 700;
  display: block;
  transition: 0.2s;
}

.name__field:required,
.name__field:invalid,
.email__field:required,
.email__field:invalid,
.msg__field:required,
.msg__field:invalid {
  box-shadow: none;
}


/*

FOOTER

*/
#footer {
  margin-top: 210px;
  width: 100%;
}

.footer {
  background-color: var(--dust-grey);
  padding: 56px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo--wrapper {
  width: 64px;
}

.footer__logo {
  filter: invert();
  margin-bottom: 72px;
  width: 100%;
}

.footer__claim {
  color: var(--wraith-black);
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  text-align: center;
}